asgiref
certifi
charset-normalizer
crispy-bootstrap5
crispy-tailwind
distlib
Django
django-crispy-forms
django-email
filelock
gunicorn
idna
MouseInfo
numpy
opencv-contrib-python
packaging
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
razorpay
requests
setuptools
sqlparse
sslcommerz-lib
tzdata
urllib3
virtualenv
waitress
wheel